
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@section csses
{
    <style>

        input[type=text], input[type=password] {
            background-color: #f6f6f6;
            border: none;
            color: #0d0d0d;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 5px;
            width: 85%;
            border: 2px solid #f6f6f6;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
        }

        input[type=button], input[type=submit], input[type=reset], button[type=submit] {
            background-color: #56baed;
            border: none;
            color: white;
            padding: 15px 80px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            font-size: 13px;
            -webkit-box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
            box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
            margin: 5px 20px 40px 20px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        input[type=text], input[type=password] {
            background-color: #f6f6f6;
            border: none;
            color: #0d0d0d;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 5px;
            width: 85%;
            border: 2px solid #f6f6f6;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
        }

        input[type=button], input[type=submit], input[type=reset], button[type=submit] {
            background-color: #56baed;
            border: none;
            color: white;
            padding: 15px 80px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            font-size: 13px;
            -webkit-box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
            box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
            margin: 5px 20px 40px 20px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

    </style>
}
<div class="main-login">
  
    <!-- start: LOGIN BOX -->

    <div class="box-login">
        <div class="login-logo">
            <div class="logo">&nbsp;</div>
            <h2>EvaBatch Controller Application</h2>
        </div>

        <h3>Sign in to your account</h3>

        <p>
            Please enter user name and password to log in.

        </p>

        <div class="errorHandler alert alert-danger no-display">
            <i class="fa fa-remove-sign"></i>
            You have some form errors. Please check below.

        </div>

        <fieldset>
            <div class="form-group">
                <span class="input-icon">
                    <input type="text" class="form-control required" name="username" placeholder="Enter User Name" />

                    <i class="fa fa-user"></i>

                </span>

            </div>

            <div class="form-group form-actions">
                <span class="input-icon">
                    <input type="password" class="form-control password required" name="password" placeholder="Password" />

                    <i class="fa fa-lock"></i>

                </span>

            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-bricky pull-right" onclick="login()">
                    Login <i class="fa fa-arrow-circle-right"></i>

                </button>

            </div>

            <div id="Msgbox" class="new-account" style="display:none">
                &nbsp;

            </div>

            <div class="new-account">
                This system is owned, operated and monitored by Celestica and contains confidential and proprietary information. Any access or use of this system not authorized by Celestica management is not permitted and may be reported to law enforcement authorities and/or be subject to civil action. If you are not authorized to access or use this system, disconnect now!
            </div>
            <!-- end: LOGIN BOX -->
            <!-- start: COPYRIGHT -->
            <div class="copyright">
                <p>&copy; @(2021 == DateTime.Now.Year ? DateTime.Now.Year.ToString() : "2021 - " + DateTime.Now.Year.ToString()) | Celestica Confidential</p>

            </div>
            <!-- end: COPYRIGHT -->
        </fieldset>

    </div>


</div>

@section scripts
{
    <script type="text/javascript">
        // ************************* FUNCTION **************************** //
        function login() {
            if (validate()) {
            
                var USERNAME = $('[name=username]').val();
                var PASSWORD = $('[name=password]').val();
                var url = '@Url.Action("Login", "Login")';
                var data = { 'USER': USERNAME, 'PASS': PASSWORD };

                $.blockUI({ message: '<h3><img src="@Url.Content("~/images/loading.gif")" /> Please wait...</h3>' });

                $.post(url, data, function (response) {
                    if (response.Result === 'OK') {
                        $.unblockUI();
                        $('div.box-login').block({ message: null });


                        location.href = '@Url.Action("Index", "Home")';

                    } else {
                        alert('Error! ' + response.Message);
                        $.unblockUI();

                    } // end if: Result IS TRUE

                }) // end post:
                .fail(function (xhr, status, error) {
                    console.log(error);
                    alert('Error! Username, Password is incorrect!');
                    $.unblockUI();

                }); // end fail:

            } // end if: validate

        } // end function: login

        function validate() {
            var result = true;

            // Clear old label alert
            $('.required').each(function () {
                $(this).removeClass('alert-warning');

            });

            // Validate form class required
            $('.required').each(function () {
                if ($(this).val().trim().length === 0) {
                    $(this).addClass('alert-warning');
                    result = false;

                } // end if: .required IS NULL

            });

            // MessageBox
            if (!result) {
                ClearMsgbox('#Msgbox');
                $('#Msgbox').addClass('alert-warning').html('<b>Warning!</b> these field require.').show(300);
                setTimeout(function () { $('#Msgbox').hide(500); }, 3000);

            } // end if: result IS NULL

            return result;

        } // end function: validate

        // ************************* EVENT **************************** //
        $(document).on('keypress', '[name="username"]', function (e) {
            if (e.keyCode == 13) {
                $('[name="password"]').focus();

            } // end if: press Enter

        });

        $(document).on('keypress', '[name="password"]', function (e) {
            if (e.keyCode == 13) {
                login();

            } // end if: press Enter

        });

        // ************************* PAGE LOAD **************************** //
        $(function () {

        }); // end PageLoad

    </script>
}